@import '../../../styles/template';
@import '../../../styles/variables';

.input_wrapper{

    p{margin-bottom: 15px;}

    input{
        height: 62px;
        width: 100%;
        // margin-bottom: 16px;
        font-size: 14px;

        padding: 8px 12px;
        border: 1px solid #CAD9DA;
        border-radius: 10px;
    }
}
