$main_theme: #1AA5AA;
$text_header: #FFFFFF;
$footer: #CADCDD;
$link: #1A8F94;
$page: #E5E5E5;
$border: #CAD9DA;
$catalog: #CDCDCD;
$description: #1C1C1C;
$text: #282828;
$black: #000000;
$active: #D2EFF0;
$hover: #1ec0c5;
$danger: #d83737;
$red: #da3b3bd5;
$back_color: #393f3fb0;
$date: #9E9E9E;
$light_grey: #d8d8d886;
$profile_select: #f3f3f3;
$user_feedback: #EBF0F0;
$gray_text: #5F6767;
$disabled: #E8E8E8;
$disabled_text: #808080;



$svgColorInactive: #BFBFBF;
$textColor: #289F97;
$borderRadius: 10px;
$margin: 15px;
